*{margin: 0;
padding: 0;}

h2{
    font-style: unset;
    
    color: white;
   background-color: #25445E;
   margin: 0px
   ;    
   padding: 15px 15px 15px 90px;
                    }

    .blog{
display: inline-block;
background-color: blue;
padding: 0px 150px 0px 750px;
                    }